@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider @bind-IsDarkMode="isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudDrawer @bind-Open="drawerOpen" Elevation="1" Variant="DrawerVariant.Temporary" Class="nav-scrollable d-flex flex-column" Anchor="Anchor.Left" Color="Color.Default">
               <!-- Navigation -->
        <MudNavMenu Margin="Margin.Normal" Color="Color.Success">
            <MudText Typo="Typo.h6" Class="px-4">RanAway</MudText>
            <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">SoftServe Project Labs</MudText>
            <MudDivider DividerType="DividerType.Inset" />
            <MudNavGroup Title="Account" Icon="@Icons.Material.Filled.AccountCircle" Expandable="true">
                <MudNavLink Href="/login" Icon="@Icons.Material.Filled.Login">Login</MudNavLink>
                <MudNavLink Href="/register" Icon="@Icons.Material.Filled.PersonAdd">Register</MudNavLink>
            </MudNavGroup>
            <MudDivider DividerType="DividerType.Inset" />
            <MudNavGroup Title="Internal Admin" Icon="@Icons.Material.Filled.AddBox" Expandable="true" >
                <MudNavLink Href="intadmin/catalog" Icon="@Icons.Material.Filled.Settings">Catalog</MudNavLink>
                <MudNavLink Href="home/placeholder1" Icon="@Icons.Material.Filled.FiberManualRecord">Placeholder 1</MudNavLink>
                <MudNavLink Href="home/placeholder2" Icon="@Icons.Material.Filled.FiberManualRecord">Placeholder 2</MudNavLink>
                <MudNavLink Href="home/placeholder2" Icon="@Icons.Material.Filled.FiberManualRecord">Placeholder 2</MudNavLink>
            </MudNavGroup>
            <MudDivider DividerType="DividerType.Inset" />
            <MudNavGroup Title="Customers" Icon="@Icons.Material.Filled.List" Expandable="true" >
                <MudNavLink Href="customers/placeholder1" Icon="@Icons.Material.Filled.FiberManualRecord">Placeholder 1</MudNavLink>
                <MudNavLink Href="customers/placeholder2" Icon="@Icons.Material.Filled.FiberManualRecord">Placeholder 2</MudNavLink>
            </MudNavGroup>
            <MudDivider DividerType="DividerType.Inset" />
            <MudNavGroup Title ="Logistics" Icon="@Icons.Material.Filled.Warehouse" Expandable="true" >               
                <MudNavLink Href="/warehouse-api-testing" Icon="@Icons.Material.Filled.Warehouse">Warehouse APIs</MudNavLink>
                <MudNavLink Href="/branch-api-testing" Icon="@Icons.Material.Filled.Warehouse">Branch APIs</MudNavLink>
                <MudNavLink Href="/warehouses/items" Icon="@Icons.Material.Filled.Warehouse">Branch APIs</MudNavLink>
            </MudNavGroup>
        </MudNavMenu>

        <MudSpacer />

        <!-- Footer/Status Bar -->
        <MudDivider Class="mt-2" />
        <MudText Typo="Typo.caption" Align="Align.Center" Class="mb-2 mt-2">© 2025 Your Company</MudText>
    </MudDrawer>

    <MudMainContent>
        <MudAppBar Color="Color.Info" Elevation="1" Dense="true" Class="top-row ps-3">
            <div class="d-flex align-items-center w-100">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Dark" Edge="Edge.End" OnClick="ToggleNavMenu" Title="Navigation menu" />
                <MudSpacer />
                <!-- AppBar Actions -->
                <MudIconButton Icon="@Icons.Material.Filled.Notifications" Color="Color.Inherit" Title="Notifications" />
                <MudMenu Icon="@Icons.Material.Filled.AccountCircle">
                    <MudMenuItem Href="/login">Login</MudMenuItem>
                    <MudMenuItem Href="/register">Register</MudMenuItem>
                    <MudDivider />
                    <MudMenuItem>Profile</MudMenuItem>
                    <MudMenuItem>Logout</MudMenuItem>
                </MudMenu>
            </div>
        </MudAppBar>

        <MudContainer MaxWidth="MaxWidth.Large" Class="mt-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private bool drawerOpen = false;
    private bool isDarkMode = false;

    private void ToggleNavMenu()
    {
        drawerOpen = !drawerOpen;
    }
}
